<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I recently completed my studies in the University of Melbourne, majoring in Computer Science. I am most interested in Game Development, Software Development and Artificial Intelligence. As an older graduate, I have found my passion in Computer Science but I have varying levels of experience in different fields ranging from Graphic Design to Biology. I believe these experiences shaped how I look at problems and find appropriate solutions to those problems. It also helped me identify what I enjoy most as a career.
            </p>
            <p class="paragraph-text justify-text">
                I enjoy being a part of a team as well as working individually. I believe one of my strongest qualities is my communication skills. As a very curious person, I enjoy learning new things more than anything else, and I am adaptable. I have the most experience in Artificial Intelligence research. The programming languages that I am most familiar with are C, C++, C#, Python, Java and Javascript among others.
            </p>
            <p class="paragraph-text justify-text">
                I am currently doing a post bachelor diploma in Computer and Information Systems (Emerging Technologies) at Douglas College, Vancouver, along with making my own games in order to improve my skills in game development
            </p>
        </div>
    </section>
</div>
