<div class="section-wrapper">
    <section class="section about" id="about" style="min-height: 70vh;">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I completed my bachelor's at the University of Melbourne, majoring in Computer Science. I am very interested in Game Development, Software Development. and Artificial Intelligence. As an older graduate, I have found my passion in Computer Science but I have varying levels of experience in different fields ranging from Graphic Design to Biology. I believe these experiences shaped how I look at problems and find appropriate and innovative solutions.
            </p>
            <p class="paragraph-text justify-text">
                I enjoy working with a team as well as working individually. I believe one of my strongest qualities is my communication skills. As a very curious person, I enjoy learning new things more than anything else, and I am adaptable. The programming languages that I am most familiar with are C, C++, C#, Python, Java and Javascript among others.
            </p>
            <p class="paragraph-text justify-text">
                I am currently doing a post-bachelor diploma in Computer and Information Systems (Emerging Technologies) at Douglas College, Vancouver, Canada. I also try to find time for making my own games to improve my skills in game development and design.
            </p>
        </div>
    </section>
</div>
