<div class="section-wrapper">
    <section class="section extra" id="extra" style="min-height: 50vh;">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                Feel free to contact me. I'm open to collaborations, especially on open source projects. Have a cool game idea? Perfect, lets work on it together. Want to play board games together? Even better!
            </p>

            <p class="paragraph-text justify-text">
                My resume is available here: <a href="../assets/images/CV.pdf">PDF</a>
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>

                <span class="hint--bottom bottom-link" aria-label="Linkedin">
                    <a href="www.linkedin.com/in/mehmet-koseoglu-0ba80016a"><i class="head-icon fab fa-linkedin"></i></a>
                </span> 
            </div>
        </div>
    </section>
</div>