<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
                <h2>Half Pipe</h2>
                <a href="halfpipe.html">
                    <img alt="Half Pipe" src="../assets/images/halfpipe screenshot.jpg" width="250" height="250" style="float:left"></a>
                <p style="padding-left: 280px;">A reaction game I developed in the course of a weekend, in order to learn PICO-8. <br>You simply have to press the correct button combinations. You can press and hold the direction before pressing the action key. <br>(X -> "X" key on the keyboard. O -> "Z key on the keyboard) <br>(PS: Music: CKY - 96 Quite Bitter Beings)</p>
                
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <p>More projects to come...</p>
                

            </div>
        </div>
    </section>
</div>