<div class="section-wrapper">
    <section class="section projects" id="projects" style="min-height: 70vh;">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>

                <h2>Peg Break</h2>
                <a href="https://youtu.be/MrOV4eDSRh0">
                    <img alt="Half Pipe" src="../assets/images/PegBreak.jpg" width="250" height="250" style="padding-right: 10px;"></a>
                <p style="font-size: 20px;">The first game I made for a course I was taking in the University of Melbourne<br>Made using Java, it is a simple game where you click on the screen to shoot a ball downwards. The ball is affected by gravity, breaks certain pegs, collects power-ups. <br>Click on the image to open a demo video of the game!</p>
                
                <br>
                <br>
                <br>
                <br>

                <h2>The Adventure of Boaty McBoatFace</h2>
                <a href="https://youtu.be/XBnPUesIWIY">
                    <img alt="Half Pipe" src="../assets/images/Boaty.jpg" width="250" height="250" style="padding-right: 10px;"></a>
                <p style="font-size: 20px;">A simple Unity game a few friends and I made for out Graphics and Interaction course at the University of Melbourne<br>Our course was focused on graphics but we also tried to make a fun game out of it. You simply control a boat, shoot ducks and pirates, and there is a giant boss duck at the end<br>Click on the image to open a demo video of the game!</p>
                

                <br>
                <br>
                <br>
                <br>

                <h2>Half Pipe</h2>
                <a href="halfpipe.html">
                    <img alt="Half Pipe" src="../assets/images/halfpipe screenshot.jpg" width="250" height="250" style="padding-right: 10px;"></a>
                <p style="font-size: 20px;">A reaction game I developed in the course of a weekend, in order to learn PICO-8. Click on the image to try the game!<br>You simply have to press the correct button combinations. You can press and hold the direction before pressing the action key. <br>(X -> "X" key on the keyboard. O -> "Z" key on the keyboard) <br>(PS: Music: CKY - 96 Quite Bitter Beings)</p>
                
                <br>
                <br>
                <br>
                <br>

                <p>More projects to come...</p>
                

            </div>
        </div>
    </section>
</div>