<div class="section-wrapper">
    <section class="section projects" id="projects" style="min-height: 70vh;">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>

                <h2>Peg Break</h2>
                <a href="https://youtu.be/MrOV4eDSRh0">
                    <img alt="Half Pipe" src="../assets/images/PegBreak.jpg" width="250" height="250" style="padding-right: 10px;"></a>
                <p style="font-size: 20px;">The first game I made for a course I was taking in the University of Melbourne<br>Made using Java, it is a simple game where you click on the screen to shoot a ball downwards. The ball is affected by gravity, breaks certain pegs, collects power-ups. <br>Click on the image to open a demo video of the game!</p>
                
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <h2>The Adventure of Mr. Boaty McBoatFace</h2>
                <a href="https://youtu.be/XBnPUesIWIY">
                    <img alt="Half Pipe" src="../assets/images/Boaty.jpg" width="250" height="250" style="padding-right: 10px;"></a>
                <p style="font-size: 20px;">A simple Unity game a few friends and I made for our Graphics and Interaction course at the University of Melbourne<br>Our course was focused on graphics but we also tried to make a fun game out of it. You simply control a boat, shoot ducks and pirates, and there is a giant boss duck at the end<br>Click on the image to open a demo video of the game!</p>
                

                <br>
                <br>
                <br>
                <br>
                <br>

                <h2>Half Pipe</h2>
                <a href="halfpipe.html">
                    <img alt="Half Pipe" src="../assets/images/halfpipe screenshot.jpg" width="250" height="250" style="padding-right: 10px;"></a>
                <p style="font-size: 20px;">A reaction game I developed in the course of a weekend, in order to learn PICO-8. Click on the image to try the game!<br>You simply have to press the correct button combinations. You can press and hold the direction before pressing the action key. <br>(X -> "X" key on the keyboard. O -> "Z" key on the keyboard) <br>(PS: Music: CKY - 96 Quite Bitter Beings)</p>
                
                <br>
                <br>
                <br>
                <br>
                <br>

                <h2>Gin Rummy</h2>
                <a href="gin.html">
                    <img alt="Gin Rummy" src="../assets/images/Gin.jpg" width="250" height="250" style="padding-right: 10px;"></a>
                <p style="font-size: 20px;">The popular card game Gin Rummy, developed on Pico-8<br>The hardest part of this project was writing the algorithm to find the ideal card arrangements and calculating deadwood cards<br>You can try the game by clicking the image on the left. Use the "X" key to select a card, and the arrow  buttons to move the selected card.<br>There is a how to play section under options ("P" or "Enter" if you are playing on a computer)</p>
                
                <br>
                <br>
                <br>
                <br>
                <br>


                <h2>Lava Jump</h2>
                <a href="3dgame.html">
                    <img alt="Gin Rummy" src="../assets/images/lavaJump_PS.png" width="250" height="250" style="padding-right: 10px;"></a>
                <p style="font-size: 20px;">For this project I wanted to try a 3D game with Pico-8. Click on the image to try it!<br>Since Pico-8 doesn't have native 3D support, I followed a few tutorials  to implement a 3D world with ray casting.<br>The game is a simple 3D platformer, you jump using the O button ("Z" on the keyboard by default), and avoid falling in Lava<br>My goal was to have something playable in a week. I might come back to it in the future to improve the game. (PS: Music: Deftones - My Own Summer)</p>
                
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <p>More projects to come...</p>
                

            </div>
        </div>
    </section>
</div>